BOT_TOKEN=PUT_YOUR_BOTFATHER_TOKEN_HERE
DB_PATH=gentra.sqlite3
SUPPORT_CONTACT=@your_support
NEWS_URL=https://t.me/your_news
GENERAL_CHAT_URL=https://t.me/your_chat
ROULETTE_CHAT_URL=https://t.me/your_roulette_chat

START_GENTRA=1000
START_GALLEONS=2000
START_STAT=1

STAT_BASE_COST=10
STAT_GROWTH=1.35
ROULETTE_ROUND_SECONDS=45
ROULETTE_MIN_BET=1
ROULETTE_MAX_BET=1000000000
ROULETTE_RANGE_HOUSE_FACTOR=0.97
ROULETTE_LOG_LIMIT=10
MINES_ROWS=5
MINES_COLS=5
MINES_COUNT=5
MINES_HOUSE_FACTOR=0.96
MINES_MIN_BET=1
JOKER_SLOTS=3
JOKER_PAYOUT_MULTIPLIER=2.85
JOKER_MIN_BET=1
DUEL_REWARD=250
DUEL_COOLDOWN_SECONDS=300
CLAN_CREATE_COST=50000
CLAN_MEMBER_LIMIT=50
TREASURY_REWARD_MIN=1000
TREASURY_REWARD_MAX=2000
TREASURY_DEFAULT_REWARD=1000
BONUS_AMOUNT=5000
BONUS_PERIOD_HOURS=24
VIP_BONUS_PERIOD_HOURS=20
VIP_DAYS=30
ADMIN_IDS=123456789
